body {
  text-align: center;
  background: #363636;
  font-family: sans-serif;
}
h1 {
  font-family: monospace;
  color: #fff;
  font-size: 24px;
}
p {
  color: #ddd;
}
a, a:active {
  color: #ddd;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
a:visited {
  color: #ccc;
}
h2 {
  font-size: 14px;
  color: #fff;
}
h3 {
  font-size: 12px;
  color: #ddd;
}
.post {
  border: 2px solid #fff;
  background: #424242;
}
.post p {
  font-size: 14px;
  font-color: #ddd;
}
.comment {
  clear: both;
}
.comment p {
  font-size: 10px;
  font-color: #ccc;
}
p.likes {
  width: 49%;
  display: inline-block;
}
p.comments {
  width: 49%;
  display: inline-block;
}
img {
  display: block;
  margin: 0 auto;
  clear: both;
}
